@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,700;1,600&family=Lora:ital@1&family=Mulish:ital,wght@0,400;0,700;1,200&family=Open+Sans:wght@600&family=Taviraj:wght@200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  color: white;
  background-color: #1e1e1e;
}
